@import "./w3.css";
@import "./w3-theme-brown.css";

.header--backgroud {
    background: wheat
}

.header {
    height: 68px;
}

.header--image{
    max-width: 55px;
}


.app--padding {
    padding-left: 16px;
    padding-right: 16px;
}

.app--center-block {
    
}

.imagewidget--img{
    width:100%;
    cursor: pointer;
}

.image--padding div {
    padding-bottom: 12px;
    padding-right: 7px;
}

.app--margin-top {
    margin-top: 48px!important;
}
