<!DOCTYPE html>
<html lang="pt-br">
  <head>
       <meta charset="utf-8" />
       <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="mobile-web-app-capable" content="yes">
       <meta name="apple-mobile-web-app-title" content="English Notebook">
       <meta name="apple-mobile-web-app-capable" content="yes">
       <meta name="apple-mobile-web-app-status-bar-style" content="black">
       <meta name="format-detection" content="telephone=no">
       <meta name="application-name" content="English Notebook">
       <meta name="theme-color" content="#795548">
       <link rel="manifest" href="/manifest.json">
       <title>Vocabulary Notebook</title>

       <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>  
  </head>
  <body>
    <div id="main"><%- html %></div>
    <script>
        window.__initState__ = <%- reduxState %>
    </script>
  </body>
</html>
